body {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    padding: 20px;
    position: fixed;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #495057;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen de línea si no caben */
    gap: 10px; /* Espacio entre elementos */
    justify-content: center; /* Centra los divs si hay espacio */
    margin-left: 250px;
    padding-top: 10px;
}

.card {
    width: 100%; /* Ajusta el ancho para que quepan 3 por fila */
    min-width: 150px; /* Evita que se hagan demasiado pequeños */
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    border: 1px solid blue;
}

@media (max-width: 768px) {

    .sidebar {
        width: 100px;
        padding: 10px;
    }
    .content {
        margin-left: 100px;
    }
    .sidebar a {
        text-align: center;
        padding: 15px;
    }
    .sidebar a span {
        display: none;
    }

    .row {
        margin-left: 100px; /* Respeta el nuevo tamaño reducido de la sidebar */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 por fila en pantallas pequeñas */
    }
}