{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

<!-- Estilos css personalizados por página -->
{% block css %}
{% endblock %}

<!-- Contenido principal de la página -->
{% block content %}
<div class="container-fluid cont-main">
    <div class="row gx-0">
        <div class="col cont-top-directions">
            <h5 class="windows-name">Inicio</h5>
            <a href="{{ url_for('main.index') }}" class="direction-name">Inicio</a>
            <i class="bi bi-chevron-right direction-icon"></i>
            <p class="direction-select">Familias</p>
        </div>
        <div class="col cont-top-buttons">
            <!-- Button to Open the Modal -->
            <button class="btn btn-category" disabled>Unirse a una familia</button>
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#crearFamilia">
                Crear familia
            </button>
        </div>
    </div>
    <div class="row gx-0">
        {% for family in families %}
            {% if family_selected_id == family['family_id'] %}
            <div class="col">
                <div class="info-card selected-card">
                    <h4>{{ family['family_name'] }}</h4>
                </div>
            </div>
            {% else %}
            <div class="col">
                <form action="/select_family" method="POST">
                    <input type="hidden" name="family_id" value="{{ family['family_id'] }}">
                    <button type="submit" class="info-card clickable-card">
                        <h4>{{ family['family_name'] }}</h4>
                    </button>
                </form>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row gx-0">
        <div class="col">
            <div>
                <h5 class="windows-name pb-4">Integrantes de la familia</h2>
            </div>
            <div class="info-card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in family_members %}
                        <tr>
                            <td>{{ member['user_name'] }} {{ member['user_lastname'] }}</td>
                            <td>{{ member['user_email'] }}</td>
                            <td>{{ member['role_name'] }}</td>
                            <td style="width: 33.3%;">
                                <div class="cont-btns-acciones">
                                    <!-- <form action="/edit_subcategory" method="POST">
                                        <input type="hidden" name="category_name" value="">
                                        <input type="hidden" name="subcategory_id" value="">
                                        <button type="submit" class="bi bi-pencil-square"
                                            style="color: var(--blue); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                            title="Editar" disabled>
                                        </button>
                                    </form> -->
                                    {% if member['user_id'] != user_login_data['id'] %}
                                    <form action="/remove_member" method="POST">
                                        <input type="hidden" name="remove_member_family_id" value="{{ family_selected_id }}">
                                        <input type="hidden" name="remove_member_id" value="{{ member['user_id'] }}">
                                        <button type="submit" class="bi bi-trash3"
                                            style="color: var(--red); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                            title="Eliminar">
                                        </button>
                                    </form>
                                    {% else %}
                                    <form>
                                        <button type="submit" class="bi bi-trash3"
                                            style="color: var(--dark-gray); font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                            title="Eliminar" disabled>
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer" style="height:auto; width: 100%">

                    <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#agregarMiembro">Agregar</button>

                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para registrar crear una familia -->
<div class="modal fade" id="crearFamilia">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="egresoForm" action="/create_family" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Crear grupo familiar</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <div class="cont-label-input">
                        <label for="monto">Nombre de la familia</label>
                        <input type="text" id="family_name" name="family_name" required>
                        <span class="error" id="montoError"></span>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-blue">Crear</button>
                </div>
            </form>

            <style>
                .error {
                    color: red;
                    font-size: 0.875em;
                    display: block;
                    margin-top: 5px;
                }
            </style>

        </div>
    </div> 
</div>
<!-- Modal para agregar un miembro a la familia seleccionada -->
<div class="modal fade" id="agregarMiembro">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="egresoForm" action="/add_member" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar miembro</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <div class="cont-label-input">
                        <label for="new_member_email">Correo</label>
                        <input type="email" id="new_member_email" name="new_member_email" required>
                        <span class="error" id="montoError"></span>
                    </div>

                    <div class="cont-label-input">
                        <label for="new_member_rol">Rol</label>
                        <select name="new_member_rol" id="new_member_rol">
                            {% for rol in family_roles %}
                            <option value="{{ rol['id'] }}">{{ rol['name'] }}</option>
                            {% endfor %}
                        </select>
                        <span class="error" id="montoError"></span>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <input type="hidden" name="new_member_family_id" value="{{ family_selected_id }}">
                    <button type="submit" class="btn btn-blue">Agregar</button>
                </div>
            </form>

            <style>
                .error {
                    color: red;
                    font-size: 0.875em;
                    display: block;
                    margin-top: 5px;
                }
            </style>

        </div>
    </div>
</div>
{% endblock %}

<!-- JavaScript personalizado por página -->
{% block js %}
{% endblock %}