{% extends 'base.html' %}
{% block title %}Presupuesto{% endblock %}

<!-- Estilos css personalizados por página -->
{% block css %}
{% endblock %}

<!-- Contenido principal de la página -->
{% block content %}
<div class="container-fluid cont-main">
    <div class="row gx-0">
        <div class="col cont-top-directions">
            <h5 class="windows-name">Finanzas</h5>
            <a href="" class="direction-name">Inicio</a>
            <i class="bi bi-chevron-right direction-icon"></i>
            <p class="direction-name">Finanzas</p>
            <i class="bi bi-chevron-right direction-icon"></i>
            <p class="direction-name">Presupuesto</p>
        </div>
        <div class="col cont-top-buttons">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-category" data-bs-toggle="modal" data-bs-target="#registrarEgreso">
                Gestionar categorías
            </button>
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#agregarCategoria">
                Agregar categoría
            </button>
        </div>
    </div>

    <div class="row gx-0">
        <!-- CARD 1 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
        <!-- CARD 2 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
        <!-- CARD 3 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
        <!-- CARD 4 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
    </div>
    <div class="row gx-0">
        <div class="col">
            <div>
                <h5>Categorías</h2>
            </div>
            <div class="info-card">
                <style>
                    .cont-categorias {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .categoria {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                </style>
                <div class="cont-categorias">
                    <div class="info-card categoria">
                        <p>Cuentas</p>
                        <p>$160.000</p>
                    </div>
                    <div class="info-card categoria">
                        <p>Mascotas</p>
                        <p>$20.000</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div>
                <h5>Subcategorías</h2>
            </div>
            <div class="info-card">
                <!-- Tabbla con los datos y presupuestos por sub-categorías -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Presupuesto</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Agua</td>
                        <td>$50.000</td>
                        <td>
                            Activado
                            <i class="bi bi-dot" style="color: green; font-size: 30px; height: 5px; position: absolute; margin: -15px 0 0 -5px;"></i>
                        </td>
                        <td>
                            <form action="/cambiar_estado_sub_categoria">
                                <input type="hidden" name="id_sub_categoria" value="1">
                                <button type="submit" class="bi bi-x-circle" 
                                    style="color: red; font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                    title="Desactivar">
                                </button>

                            </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Luz</td>
                        <td>$30.000</td>
                        <td>
                            Desactivado
                            <i class="bi bi-dot" style="color: red; font-size: 30px; height: 5px; position: absolute; margin: -15px 0 0 -5px;"></i>
                        </td>
                        <td>Desactivar</td>
                      </tr>
                      <tr>
                        <td>Gas</td>
                        <td>$5.000</td>
                        <td>Activado</td>
                        <td>Desactivar</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar una categoría -->
<div class="modal fade" id="agregarCategoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="egresoForm" action="" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar categoría</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <div class="cont-label-input">
                        <label for="monto">Nombre categoría</label>
                        <input type="text" id="monto" required>
                        <span class="error" id="montoError"></span>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-blue">Agregar</button>
                </div>
            </form>

            <style>
                .error {
                    color: red;
                    font-size: 0.875em;
                    display: block;
                    margin-top: 5px;
                }
            </style>

        </div>
    </div>
</div>
{% endblock %}   

<!-- JavaScript personalizado por página -->
{% block js %}
<script src="{{ url_for('static', filename='js/add-egreso-form.js') }}"></script>
{% endblock %}
