{% extends 'base.html' %}
{% block title %}Presupuesto{% endblock %}

<!-- Estilos css personalizados por página -->
{% block css %}
{% endblock %}

<!-- Contenido principal de la página -->
{% block content %}
<div class="container-fluid cont-main">
    <div class="row gx-0">
        <div class="col cont-top-directions">
            <h5 class="windows-name">Finanzas</h5>
            <a href="" class="direction-name">Inicio</a>
            <i class="bi bi-chevron-right direction-icon"></i>
            <p class="direction-name">Finanzas</p>
            <i class="bi bi-chevron-right direction-icon"></i>
            <p class="direction-name">Presupuesto</p>
        </div>
        <div class="col cont-top-buttons">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-category">
                Gestionar categorías
            </button>
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#agregarCategoria">
                Agregar categoría
            </button>
        </div>
    </div>

    <div class="row gx-0">
        <!-- CARD 1 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
        <!-- CARD 2 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
        <!-- CARD 3 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
        <!-- CARD 4 -->
        <div class="col">
            <div class="info-card">
                <p class="card-top-info">Total Page Views</p>
                <div class="data-and-percent">
                    <p class="card-data">$5.000</p>
                    <div class="percent-div">
                        <p class="percent-data">
                            <span class="span-percent-data">
                                <i class="bi bi-graph-up-arrow"></i>
                                50.3
                            </span>%
                        </p>
                    </div>
                </div>
                <p class="card-bottom-info">You made an extra 35.00 this year.</p>
            </div>
        </div>
    </div>
    <div class="row gx-0">
        <div class="col">
            <div>
                <h5>Categorías</h2>
            </div>
            <div class="info-card">
                <style>
                    .cont-categorias {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .categoria {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }

                    .categoria:hover {
                        scale: 1.01;
                        box-shadow: 0px 0px 10px 5px var(--light-blue);
                    }
                </style>
                <div class="cont-categorias">
                    {% for category in categories %}
                    <a class="info-card categoria" href="{{ url_for('budget.presupuesto', category_name=category['name']) }}">
                        <p>{{ category['name'] }}</p>
                        <p>$160.000</p>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="col">
            <div>
                <h5>{{ selected_category if selected_category else 'Selecciona una categoría' }}</h5>
            </div>
            <div class="info-card">
                <!-- Tabbla con los datos y presupuestos por sub-categorías -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Presupuesto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in subcategories %}
                        <tr>
                            <td>Name: {{ subcategory['name'] }} ID: {{ subcategory['category_id'] }}</td>
                            <td>$30.000</td>
                            <td style="width: 33.3%;">
                                <div class="cont-btns-acciones">
                                    <form action="/cambiar_estado_sub_categoria">
                                        <input type="hidden" name="subcategory_id" value="{{ subcategory['id'] }}">
                                        <button type="submit" class="bi bi-check-circle"
                                            style="color: green; font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                            title="Desactivar">
                                        </button>
                                    </form>
                                    <form action="/edit_subcategory" method="POST">
                                        <input type="hidden" name="subcategory_id" value="{{ subcategory['id'] }}">
                                        <button type="submit" class="bi bi-pencil-square"
                                            style="color: blue; font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                            title="Editar">
                                        </button>
                                    </form>
                                    <form action="/delete_subcategory" method="POST">
                                        <input type="hidden" name="subcategory_id" value="{{ subcategory['id'] }}">
                                        <button type="submit" class="bi bi-trash3"
                                            style="color: red; font-size: 20px; background: none; border: none; padding: 0; cursor: pointer;"
                                            title="Eliminar">
                                        </button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer" style="height:auto; width: 100%">

                    <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#subcategory">Agregar</button>

                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar una categoría -->
<div class="modal fade" id="agregarCategoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="egresoForm" action="/add_category" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar categoría</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <div class="cont-label-input">
                        <label for="category_name">Nombre categoría</label>
                        <input type="text" id="category_name" name="category_name" required>
                        <span class="error" id="montoError"></span>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-blue">Agregar</button>
                </div>
            </form>

            <style>
                .error {
                    color: red;
                    font-size: 0.875em;
                    display: block;
                    margin-top: 5px;
                }
            </style>

        </div>
    </div>
</div>
<!-- Modal para agregar una subcategoría -->
<div class="modal fade" id="subcategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="egresoForm" action="/add_subcategory" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar subcategoría</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <div class="cont-label-input">
                        <label for="subcategory_name">Nombre subcategoría</label>
                        <input type="text" id="subcategory_name" name="subcategory_name" required>
                        <span class="error" id="montoError"></span>
                    </div>
                    <div class="cont-label-input">
                        <label for="subcategory_budget">Presupuesto subcategoría</label>
                        <input type="text" id="subcategory_budget" name="subcategory_budget" oninput="formatMonto(this)" required>
                        <span class="error" id="montoError"></span>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <input type="hidden" name="category_name" value="{{ selected_category }}">
                    <button type="submit" class="btn btn-blue">Agregar</button>
                </div>
            </form>

            <style>
                .error {
                    color: red;
                    font-size: 0.875em;
                    display: block;
                    margin-top: 5px;
                }
            </style>

        </div>
    </div>
</div>
{% endblock %}

<!-- JavaScript personalizado por página -->
{% block js %}
<script src="{{ url_for('static', filename='js/add-egreso-form.js') }}"></script>
{% endblock %}